<div class="form-header">
  <div class="header-content">
    <h1><mat-icon>school</mat-icon> Gestion des Étudiants</h1>
    <p>Ajoutez un nouvel étudiant avec ses informations académiques dans la plateforme ING School.</p>
  </div>
</div>

<mat-card class="form-container full-width-card">
  <form [formGroup]="form" (ngSubmit)="submit()" class="form-content">

    <!-- Nom et Prénom -->
    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label><mat-icon>badge</mat-icon> Nom</mat-label>
        <input matInput formControlName="lastName" placeholder="Nom">
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label><mat-icon>person</mat-icon> Prénom</mat-label>
        <input matInput formControlName="firstName" placeholder="Prénom">
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Semestre</mat-label>
      <mat-select formControlName="semester" required>
        <mat-option value="Semestre 1">Semestre 1</mat-option>
        <mat-option value="Semestre 2">Semestre 2</mat-option>
        <mat-option value="Semestre 3">Semestre 3</mat-option>
        <mat-option value="Semestre 4">Semestre 4</mat-option>
        <mat-option value="Semestre 5">Semestre 5</mat-option>
        <mat-option value="Semestre 6">Semestre 6</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Email et Téléphone -->
    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label><mat-icon>alternate_email</mat-icon> Email</mat-label>
        <input matInput formControlName="email" placeholder="exemple@etu.com">
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label><mat-icon>phone</mat-icon> Téléphone</mat-label>
        <input matInput formControlName="phoneNumber" placeholder="+212...">
      </mat-form-field>
    </div>

    <!-- CNE et Niveau scolaire -->
    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label><mat-icon>credit_card</mat-icon> CNE</mat-label>
        <input matInput formControlName="cne">
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label><mat-icon>school</mat-icon> Niveau scolaire</mat-label>
        <mat-select formControlName="niveauScolaire">
          <mat-option *ngFor="let niveau of niveaux" [value]="niveau">{{ niveau }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Année universitaire et Filière -->
    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label><mat-icon>calendar_today</mat-icon> Année Universitaire</mat-label>
        <mat-select formControlName="anneeUniversitaire">
          <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label><mat-icon>business</mat-icon> Filière</mat-label>
        <mat-select formControlName="majorId">
          <mat-option *ngFor="let mj of majors" [value]="mj.id">{{ mj.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Rôle -->
    <div class="row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label><mat-icon>verified_user</mat-icon> Rôle</mat-label>
        <input matInput formControlName="role" readonly>
      </mat-form-field>
    </div>

    <!-- Bouton -->
    <div class="btn-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        <mat-icon>save</mat-icon> Enregistrer
      </button>
    </div>
  </form>
</mat-card>
