<div class="flex items-center justify-center min-h-screen bg-gradient-to-r from-indigo-500 via-blue-500 to-cyan-500 px-4">
  <mat-card class="w-full max-w-md p-8 shadow-2xl rounded-2xl bg-white animate-fade-in">

  <mat-card-header class="flex items-center justify-center">
      <mat-icon class="text-green-600 text-4xl mr-2">vpn_key</mat-icon>
      <h2 class="text-xl font-bold text-center">Reset Password</h2>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field appearance="outline" class="w-full mb-4">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-error *ngIf="f['email'].hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="f['email'].hasError('email')">Invalid email</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full mb-4">
          <mat-label>New Password</mat-label>
          <input matInput type="password" formControlName="newPassword" />
          <mat-error *ngIf="f['newPassword'].hasError('required')">Password is required</mat-error>
          <mat-error *ngIf="f['newPassword'].hasError('minlength')">
            Password must be at least 6 characters
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" class="w-full" type="submit" [disabled]="form.invalid || isSubmitting">
          Reset Password
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
